/* file: dynapps.css */
/*!
 * Copyright 2017 ikarus512
 * https://github.com/ikarus512/fcc1.git
 *
 * DESCRIPTION: DynApps css
 * AUTHOR: ikarus512
 * CREATED: 2017/03/13
 *
 * MODIFICATION HISTORY
 *  2017/04/04, ikarus512. Added copyright header.
 *
 */

.my-opacity-00{ opacity: 0.0; }
.my-opacity-01{ opacity: 0.1; }
.my-opacity-02{ opacity: 0.2; }
.my-opacity-03{ opacity: 0.3; }
.my-opacity-04{ opacity: 0.4; }
.my-opacity-05{ opacity: 0.5; }
.my-opacity-06{ opacity: 0.6; }
.my-opacity-07{ opacity: 0.7; }
.my-opacity-08{ opacity: 0.8; }
.my-opacity-09{ opacity: 0.9; }
.my-opacity-1 { opacity: 1.0; }

.bg-invert {
  background-color: #101010;
}

.bg-white {
  background-color: white;
}

.bg-footer-hands {
  background-image: url(/img/pixabay_com_hands.png);
  height: 50px;
}

.bg-world {
  background-attachment: fixed;
  background-image: url(/img/pixabay_com_world.jpg);
}

.bg-content {
  background-attachment: fixed;
}
