/* file: dynapps.css */
/*!
 * Copyright 2017 ikarus512
 * https://github.com/ikarus512/fcc1.git
 *
 * DESCRIPTION: DynApps css
 * AUTHOR: ikarus512
 * CREATED: 2017/03/13
 *
 * MODIFICATION HISTORY
 *  2017/04/04, ikarus512. Added copyright header.
 *
 */

.my-opacity-08{
  opacity: 0.8;
}

.my-opacity-1{
  opacity: 1.0;
}

.bg-invert {
  background-color: #101010;
}

.bg-white {
  background-color: white;
}

.bg-footer-hands {
  height: 50px;
  background-image: url(/img/pixabay_com_hands.png);
}

.bg-world {
  background-image: url(/img/pixabay_com_world.jpg);
  background-attachment: fixed;
}

.bg-content {
  background-attachment: fixed;
}
