
div(ng-app="myapp" ng-controller="TodoController" ng-cloak)
  #header
    h2 Todos Angular.js
    //- if(logintype)
    form#todo-form(ng-submit="addTodo()" ng-cloak)
      input#new-todo(placeholder="What needs to be done?" ng-model="newTodoText" autofocus)
    #filters
        | Show: &nbsp;
        a(ng-class="{selected: location.path() == '/'}" href="#/") All
        | , &nbsp;
        a(ng-class="{selected: location.path() == '/active'}" href="#/active") Active
        | , &nbsp;
        a(ng-class="{selected: location.path() == '/completed'}" href="#/completed") Completed


  #main(ng-show="todos.length" ng-cloak)
    input#toggle-all(type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)")
    label(for="toggle-all") Mark all as complete
    ul#todo-list
      li(ng-repeat="todo in todos | orderBy:'id' | filter:statusFilter track by $index" ng-class="{completed: todo.done, editing: todo == editedTodo}" ng-cloak)
        .view
          label {{todo.id}}
          input.toggle(type="checkbox" ng-model="todo.done" ng-change="toggleTodo(todo)")
          label(ng-dblclick="editTodo(todo)" ng-hide="editedTodo==todo")  {{todo.text}}
          input(ng-model="todo.text" ng-show="editedTodo==todo" ng-blur="revertEditing(todo)" my-focus="todo==editedTodo" my-escape="revertEditing(todo)" my-enter="doneEditing(todo)")
          button.destroy(ng-click="removeTodo(todo)") delete


  #footer(ng-show="todos.length" ng-cloak)
    span#todo-count
      strong {{remainingCount}}
      ng-pluralize(count="remainingCount" when="{ one: 'item left', other: 'items left' }")
    button#clear-completed(ng-click="clearDoneTodos()" ng-show="remainingCount < todos.length") Clear completed
