//-
  /* file: app2_nightlife.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App2 Nightlife View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Nightlife';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/js/app2.js')
  script(src='/js/app2-controller-main.js')
  script(src='/js/app2-directive-map.js')
  script(src='/js/app2-factory-cafe-storage.js')

block scriptAfterBody
  script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.APP_GOOGLE_MAPS_API_KEY+'&libraries=places,geometry')

block content
  .well
    h3 Nightlife Coordination App

  div(class="ng-app" ng-app="myApp2Cafes" ng-controller="myApp2ControllerMain" ng-init="init('"+app2state_lat+"','"+app2state_lng+"','"+app2state_zoom+"','"+app2state_radius+"')" ng-cloak)

    .row
      //- //////////////////////////////////////////////////////////
      //- //  map
      //- //////////////////////////////////////////////////////////
      .col-md-5
        .well
          my-google-map(map-cafes='cafes' map-center='center' map-zoom='zoom' style='width:100%;height:300px;' map-moved='mapMoved(newOpts)' cafe-select='cafeSelect(cafeId)' cafes-unselect='cafesUnselect()')

      //- //////////////////////////////////////////////////////////
      //- //  cafesList
      //- //////////////////////////////////////////////////////////
      .col-md-7
        #noCafes.well(ng-show='!cafes.length' ng-cloak)
          label No restaurants/cafes/bars found.
        #cafesList.well(ng-show='cafes.length' ng-cloak)
          div(ng-repeat='cafe in cafes' ng-cloak)
            //- --------------------
            //- --  cafe
            //- --------------------
            .media(ng-show='cafe.show' style='border: 1px solid grey')
              .media-left
                a(href='#')
                  img.media-object(src='{{cafe.photo}}' alt='{{cafe.name}}')
              .media-body
                h4.media-heading {{cafe.name}}
                | {{cafe.text}}

            //- --------------------
            //- --  cafe visit plan
            //- --------------------
            div(ng-show='cafe.selected')
              p: b Visit Plan: &nbsp;
              a.btn.btn-primary(href='/app2/cafes/{{cafe._id}}' title='Clear visit plans') clear
              a.btn.btn-primary(href='/app2/cafes/{{cafe._id}}') attend today
              a.btn.btn-primary(href='/app2/cafes/{{cafe._id}}') do not attend

    .row
      //- //////////////////////////////////////////////////////////
      //- //  Notes
      //- //////////////////////////////////////////////////////////
      .well
        - var SEARCH_LIMIT = 15;
        p
          b Note 1:
          |  This is just educational project. Hence there are a couple of
          |  limitations and restrictions, described below. Please be patient when
          |  encountering some of them.
        p
          b Note 2:
          |  There is internal restriction to show not more than
          |  #{SEARCH_LIMIT} cafes/bars/restaurant places simultaneously.
          |  So, some of them can be hidden, despite more ones available in database.
          |  To be sure to view all ones, please zoom up so that
          |  not more than #{SEARCH_LIMIT} ones are visible.
        p
          b Note 3:
          |  Map interface is intentionally slowed down
          |  to not overload server with update requests.
        p
          b Note 4:
          |  We use Google API under free non-commercial account,
          |  and this can be reason of additional slowdown.
          |  Please be patient.
        p
          b Note 5:
          |  We use free DB service with limited DB size.
          |  To not overcome this size, cafes collection is limited to
          |  100000 cafes, newly found cafes remove old ones.
