//-
  /* file: app2_nightlife.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App2 Nightlife View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Nightlife';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/js/app2.js')
  script(src='/js/app2-controller-main.js')
  script(src='/js/app2-directive-map.js')
  script(src='/js/app2-factory-cafe-storage.js')

block scriptAfterBody
  script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.APP_GOOGLE_MAPS_API_KEY+'&libraries=places,geometry')

block content
  .well
    h3 Nightlife Coordination App

  div(class="ng-app" ng-app="myApp2Cafes" ng-controller="myApp2ControllerMain" ng-cloak)

    .row
      //- //////////////////////////////////////////////////////////
      //- //  map
      //- //////////////////////////////////////////////////////////
      .col-md-7
        .well
          my-google-map(map-cafes='cafes' map-center='center' map-zoom='zoom' style='width:100%;height:300px;' map-moved="mapMoved(newOpts)")

      //- //////////////////////////////////////////////////////////
      //- //  cafesList
      //- //////////////////////////////////////////////////////////
      .col-md-5
        #noCafes.well(ng-show="!cafes.length" ng-cloak)
          label No restaurants/cafes/bars found.
        #cafesList.well(ng-show="cafes.length" ng-cloak)
          div(ng-repeat="cafe in cafes" ng-cloak)
            //- --------------------
            //- --  cafe
            //- --------------------
            .media(style='border: 1px solid grey')
              .media-left
                a(href="#")
                  img.media-object(src='{{cafe.icon}}' alt='{{cafe.name}}')
              .media-body
                h4.media-heading {{cafe.name}}
                | {{cafe.text}}
                p
                  a.btn.btn-primary(href='/app2/cafes/{{cafe._id}}') attend today
                  a.btn.btn-primary(href='/app2/cafes/{{cafe._id}}') do not attend
