//-
  /* file: app2_nightlife.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App2 Nightlife View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Nightlife';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block content
  .well
    h3 Nightlife Coordination App
    p Here are...
