extend ./common/layout.pug

block vars
  - var title = 'Nightlife';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block content
  .well
    h3 Nightlife Coordination App
    p Here are...
