//-
  /* file: app3_stock.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App3 Stock View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Stock';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/lib/d3.v4.min.js')
  script(src='/js/app3.js')
  script(src='/js/app3-controller-main.js')
  script(src='/js/app3-directive-chart1.js')
  script(src='/js/app3-service-rest.js')
  script(src='/js/app3-service-websockets.js')


block content
  .well
    h3 Chart the Stock Market
    p Here are...

  .well
    div(class='ng-app' ng-app='myApp3' ng-controller='myApp3ControllerMain' ng-cloak)
      chart1(data='chart1Data')
