extend ./common/layout.pug

block vars
  - var title = 'Stock';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block content
  .well
    h3 Chart the Stock Market
    p Here are...
