//-
  /* file: app4_book.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Book
   * AUTHOR: ikarus512
   * CREATED: 2017/04/20
   *
   * MODIFICATION HISTORY
   *  2017/04/20, ikarus512. Initial version.
   *  2017/04/27, ikarus512. Description feature: show more.
   *  2017/05/02, ikarus512. Split page into parts. Adding trade.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Books';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/lib/angular-animate.min.js')
  script(src='/lib/angular-messages.min.js')
  script(src='/lib/ng-file-upload-all.min.js')
  script(src='/js/app4/app.js')
  script(src='/js/app4/controller-book.js')
  script(src='/js/app4/filter-photo.js')
  script(src='/js/app4/service-book-storage.js')
  script(src='/js/directive-my-enter.js')
  script(src='/js/directive-my-escape.js')
  script(src='/js/directive-my-focus.js')
  script(src='/js/service-my-error.js')

block content

  div(class='ng-app' ng-app='myapp' ng-controller='myApp4ControllerBook' ng-init="init('"+logintype+"','"+uid+"','"+bookId+"')" ng-cloak)

    //- //////////////////////////////////////////////////////////
    //- //  book view
    //- //////////////////////////////////////////////////////////

    #books.well(ng-show='curBook' ng-cloak)
      h3 Book:

      include ./app4_book-view.pug

    //- //////////////////////////////////////////////////////////
    //- //  book trade
    //- //////////////////////////////////////////////////////////

    .well
      h3 Trade:

      include ./app4_book-trade.pug

    //- //////////////////////////////////////////////////////////
    //- //  book edit
    //- //////////////////////////////////////////////////////////

    .well(ng-show='uid===curBook.ownerId')
      h3 Change Book Details:

      include ./app4_book-edit.pug


    //- //////////////////////////////////////////////////////////
    //- //  back to books list
    //- //////////////////////////////////////////////////////////

    .well
      h3 Return back to books list
      button#back.btn.btn-primary(ng-click='goBooksPage()') Back
