//-
  /* file: app4_book-view.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Book View
   * AUTHOR: ikarus512
   * CREATED: 2017/05/02
   *
   * MODIFICATION HISTORY
   *  2017/05/02, ikarus512. Initial version.
   *
   */

.row(style='border: 1px solid grey' ng-cloak)
  //- --------------------
  //- --  curBook
  //- --------------------
  .col-sm-12
    .row
      .col-sm-12
        | &nbsp;
        .media
          .media-left
            .thumbnail
              .book-image-thumb
                span.book-image-helper
                img.book-image(ng-src='{{curBook.photoId | photo}}' alt='No photo')
          .media-body
            h4.media-heading {{curBook.title}}
            | &nbsp;
            div(ng-show='curBook.tradeFinished')
              .bid-chosen Trade Finished
              br
              br
            div
              b Keywords:
              |  {{curBook.keywords}}
            br
            div
              b Price:
              |  ${{curBook.price}}
            br
            div
              b Owner:
              |  {{curBook.ownerName}}
            br

  .col-sm-12
    p: b Description:
    p(ng-show='curBook.short')
      span(style='white-space: pre-line;') {{curBook.descriptionShort}}
      span ... &nbsp;
      a(ng-click='curBook.short = !curBook.short;') &lt;show more&gt;
    p(ng-show='!curBook.short')
      span(ng-show='curBook.descriptionShort')
        a(ng-click='curBook.short = !curBook.short;') &lt;show less&gt;
        br
        br
      span(style='white-space: pre-line;') {{curBook.description}}
