extend ./common/layout.pug

block vars
  - var title = 'Books';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block content
  .well
    h3 Book Trading Club
    p Here are...
