//-
  /* file: app4_books.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Books View
   * AUTHOR: ikarus512
   * CREATED: 2017/04/20
   *
   * MODIFICATION HISTORY
   *  2017/04/20, ikarus512. Initial version.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Books';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/lib/ng-file-upload-all.min.js')
  script(src='/js/app4.js')
  script(src='/js/app4-controller-main.js')
  script(src='/js/app4-directive-my-enter.js')
  script(src='/js/app4-directive-my-escape.js')
  script(src='/js/app4-directive-my-focus.js')
  script(src='/js/app4-service-book-storage.js')

block content
  .well
    h3 Book Trading Club

  div(class='ng-app' ng-app='myApp4' ng-controller='myApp4Controller' ng-init="init('"+logintype+"')" ng-cloak)

    //- //////////////////////////////////////////////////////////
    //- //  books list
    //- //////////////////////////////////////////////////////////
    #noBooks.well(ng-show="mode=='books' && !books.length" ng-cloak)
      label No books.

    #books.well(ng-show="mode=='books' && books.length" ng-cloak)
      h3 Books:
      div(ng-repeat='book in books' ng-cloak)
        //- --------------------
        //- --  book
        //- --------------------
        .media(style='border: 1px solid grey')
          .media-left
            a(href='/app4/books/{{book._id}}')
              .thumbnail
                .book-image-thumb
                  span.book-image-helper
                  img.book-image(ng-src='{{book.photo}}' alt='No photo')
          .media-body
            h4.media-heading()
              a(href='/app4/books/{{book._id}}') {{book.title}}
            p Keywords: {{book.keywords.join(', ')}}



    //- //////////////////////////////////////////////////////////
    //- //  add new book
    //- //////////////////////////////////////////////////////////
    #modeAddBookButtonDiv.well(ng-show="mode=='books' && logintype")
      button#modeAddBookButton.btn.btn-primary(ng-click='modeAddBook()') Add Book

    #newBookForm.well(ng-show="mode=='addBook'")
      h3 Adding Book...

      form(name='myForm' novalidate)

        //- myForm.title
        .form-group.has-feedback(ng-class="{'has-error': myForm.title.$error.required, 'has-success': !myForm.title.$error.required}")
          label.control-label(for='inputTitle') Title: &nbsp;
          input#inputTitle.form-control(type='text' placeholder='Title' name='title' ng-model='newBook.title' my-escape='modeAddBookCancel()' my-focus="mode=='addBook'" required)
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show='!myForm.title.$error.required')
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='myForm.title.$error.required')
          p: i(ng-show='myForm.title.$error.required') *required

        //- myForm.keywords
        label Keywords (comma separated): &nbsp;
        input.form-control(placeholder='Keywords' ng-model='newBook.keywords' my-escape='modeAddBookCancel()')

        //- myForm.description
        label Description: &nbsp;
        textarea.form-control(placeholder='Description' ng-model='newBook.description' my-escape='modeAddBookCancel()' rows='6')

        //- myForm.picture
        label Picture: &nbsp;
        input.form-control(type='file' name='file' ngf-select ngf-accept="'.jpg,.png'" ngf-max-size="'80KB'" ngf-model-invalid='errorFile' ng-model='newBook.file')
        p: i(ng-show='myForm.file.$error.maxSize') File too large:
          |  {{errorFile.size / 1000|number:1}}KB. Allowed is 100KB.

        //- myForm.picture preview
        .thumbnail(ng-show='newBook.file && myForm.file.$valid')
          .book-image-thumb
            span.book-image-helper
            img#imgPreview.book-image(ngf-thumbnail='newBook.file')
        | &nbsp;
        button(ng-click='newBook.file = null;' ng-show='newBook.file') Remove Picture
        br

        br
        br
        button.btn.btn-primary(ng-click='modeAddBookCancel()') Cancel
        | &nbsp;
        button#newBookAdd.btn.btn-primary(ng-disabled='!myForm.$valid' ng-click='newBookAdd()') Add
        br
