//-
  /* file: app4_books.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Books View
   * AUTHOR: ikarus512
   * CREATED: 2017/04/20
   *
   * MODIFICATION HISTORY
   *  2017/04/20, ikarus512. Initial version.
   *
   */

extend ./common/layout.pug

block vars
  - var title = 'Books';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_world.jpg);';

block scriptBeforeBody
  script(src='/lib/angular.min.js')
  script(src='/lib/ng-file-upload-all.min.js')
  script(src='/js/app4.js')
  script(src='/js/app4-controller-main.js')
  script(src='/js/app4-filter-photo.js')
  script(src='/js/app4-service-book-storage.js')
  script(src='/js/directive-my-enter.js')
  script(src='/js/directive-my-escape.js')
  script(src='/js/directive-my-focus.js')

block content

  div(class='ng-app' ng-app='myapp' ng-controller='myApp4Controller' ng-init="init('"+logintype+"')" ng-cloak)

    .well(ng-show="mode=='books'"): h3 Book Trading Club

    //- //////////////////////////////////////////////////////////
    //- //  books list
    //- //////////////////////////////////////////////////////////

    #modeAddBookButtonDiv.well(ng-show="mode=='books' && logintype")
      button#modeAddBookButton.btn.btn-primary(ng-click='modeAddBook()') Add Book

    #noBooks.well(ng-show="mode=='books' && !books.length" ng-cloak): label No books.

    #books.well(ng-show="mode=='books' && books.length" ng-cloak)
      h3 Books:
      div(ng-repeat='book in books' ng-cloak)
        //- --------------------
        //- --  book
        //- --------------------
        .media(style='border: 1px solid grey')
          .media-left
            a(href='/app4/books/{{book._id}}')
              .thumbnail
                .book-image-thumb
                  span.book-image-helper
                  img.book-image(ng-src='{{book.photoId | photo}}' alt='No photo')
          .media-body
            h4.media-heading
              a(href='/app4/books/{{book._id}}') {{book.title}}
            p Keywords: {{book.keywords}}
            p Price: ${{book.price}}



    //- //////////////////////////////////////////////////////////
    //- //  add book
    //- //////////////////////////////////////////////////////////

    .well(ng-show="mode=='addBook'"): h3 Adding New Book

    .well(ng-show="mode=='addBook'")

      form#newBookForm(name='myForm' novalidate)

        //- myForm.title
        .form-group.has-feedback(ng-class="{'has-error': !myForm.title.$valid, 'has-success': myForm.title.$valid}")
          label.control-label(for='inputTitle') *Title: &nbsp;
          input#inputTitle.form-control(type='text' placeholder='Title' name='title' ng-model='newBook.title' my-escape='modeAddBookCancel()' my-focus="mode=='addBook'" required)
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show='myForm.title.$valid')
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='!myForm.title.$valid')
          p: i.color-error(ng-show='myForm.title.$error.required') *required

        //- myForm.price
        .form-group.has-feedback(ng-class="{'has-error': !myForm.price.$valid, 'has-success': myForm.price.$valid}")
          label.control-label(for='inputPrice') *Price ($): &nbsp;
          input#inputPrice.form-control(type='number' placeholder='Price' name='price' ng-model='newBook.price' my-escape='modeAddBookCancel()' min='0' required)
          span.glyphicon.glyphicon-ok.form-control-feedback(ng-show='myForm.price.$valid')
          span.glyphicon.glyphicon-remove.form-control-feedback(ng-show='!myForm.price.$valid')
          p: i.color-error(ng-show='myForm.price.$error.required') *required
          p: i.color-error(ng-show='myForm.price.$error.min') *must be non-negative
          p: i.color-error(ng-show='myForm.price.$error.number') *must be number

        //- myForm.keywords
        label Keywords (comma separated): &nbsp;
        input.form-control(placeholder='Keywords' ng-model='newBook.keywords' my-escape='modeAddBookCancel()')

        //- myForm.description
        label Description: &nbsp;
        textarea.form-control(placeholder='Description' ng-model='newBook.description' my-escape='modeAddBookCancel()' rows='6')


        //- myForm.photo
        label Photo: &nbsp;
        input#fileInput.myinputfile(type='file' name='file' ngf-select ngf-accept="'.jpg,.png'" ngf-max-size="'80KB'" ngf-model-invalid='errorFile' ng-model='newBook.file')
        p: i.color-error(ng-show='myForm.file.$error.maxSize') File too large:
          |  {{errorFile.size / 1000|number:1}}KB. Allowed is 100KB.

        //- myForm.photo preview
        .thumbnail(ng-show='newBook.file && myForm.file.$valid')
          .book-image-thumb
            span.book-image-helper
            img#imgPreview.book-image(ngf-thumbnail='newBook.file')
        | &nbsp;
        //- Works like pressing on #fileInput:
        label.btn.btn-default(for='fileInput' ng-show='!newBook.file && myForm.file.$valid') Add Photo
        button.btn.btn-default(ng-click='clearFile()' ng-show='newBook.file || !myForm.file.$valid') Remove Photo


        br
        br
        button.btn.btn-primary(ng-click='modeAddBookCancel()') Cancel
        | &nbsp;
        button#newBookAdd.btn.btn-primary(ng-disabled='!myForm.$valid' ng-click='newBookAdd()') Add
        br
