extend ./common/layout.pug

block vars
  - var title = 'Home';
  - var background = 'background-color: #444; background-image: url(/img/pixabay_com_crowd.png);';

block content
  .well
    h1 Dynamic Web Application Projects
    p Here are several applications according to FreeCodeCamp.com tasks, within one Heroku application.

  .row
    .col-sm-6.col-md-4: .thumbnail: .caption
      h3 Voting App
      p Accessible via 'Voting' menu or 'Go' button below.
      p Following user stories:
        a(href='https://freecodecamp.com/challenges/basejump-build-a-voting-app')  fcc user stories.
      p: a.btn.btn-primary(href="/app1") Go

    .col-sm-6.col-md-4: .thumbnail: .caption
      h3 Nightlife Coordination App
      p Accessible via 'Nightlife' menu or 'Go' button below.
      p Following user stories:
        a(href='https://www.freecodecamp.com/challenges/build-a-nightlife-coordination-app')  fcc user stories
      p: a.btn.btn-primary(href="/app2") Go

    .col-sm-6.col-md-4: .thumbnail: .caption
      h3 Chart the Stock Market
      p Accessible via 'Stock' menu or 'Go' button below.
      p Following user stories:
        a(href='https://www.freecodecamp.com/challenges/chart-the-stock-market')  fcc user stories
      p: a.btn.btn-primary(href="/app3") Go

    .col-sm-6.col-md-4: .thumbnail: .caption
      h3 Book Trading Club
      p Accessible via 'Books' menu or 'Go' button below.
      p Following user stories:
        a(href='https://www.freecodecamp.com/challenges/manage-a-book-trading-club')  fcc user stories
      p: a.btn.btn-primary(href="/app4") Go

    .col-sm-6.col-md-4: .thumbnail: .caption
      h3 Pinterest Clone
      p Accessible via 'Pinter' menu or 'Go' button below.
      p Following user stories:
        a(href='https://www.freecodecamp.com/challenges/build-a-pinterest-clone')  fcc user stories
      p: a.btn.btn-primary(href="/app5") Go
