//-
  /* file: app4_book.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App4 Book
   * AUTHOR: ikarus512
   * CREATED: 2017/04/20
   *
   * MODIFICATION HISTORY
   *  2017/04/20, ikarus512. Initial version.
   *  2017/04/27, ikarus512. Description feature: show more.
   *  2017/05/02, ikarus512. Split page into parts. Adding trade.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Books';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_world.jpg);';

block scriptBeforeBody
  if webApp
    //- Here if webApp
    script(src='/lib/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/lib/angular-animate.min.js')
    script(src='/lib/angular-messages.min.js')
    script(src='/lib/ng-file-upload-all.min.js')
    script(src='/js/common/app4/app.js')
    script(src='/js/common/app4/controller-book.js')
    script(src='/js/common/app4/factory-book-storage.js')
    script(src='/js/common/app4/factory-websocket.js')
    script(src='/js/common/app4/filter-msgtime.js')
    script(src='/js/common/app4/filter-photo.js')
    script(src='/js/common/components/input-price-update.js')
    script(src='/js/common/components/ajax-loading-spinner.js')
    script(src='/js/common/directive-keep-focus.js')
    script(src='/js/common/directive-my-enter.js')
    script(src='/js/common/directive-my-escape.js')
    script(src='/js/common/directive-my-focus.js')
    script(src='/js/common/directive-my-scroll-bottom.js')
    script(src='/js/common/factory-my-error.js')
    script(src='/js/web/service-myConst.js')
    script(src='/js/web/service-user.js')

block content

  div(
    class='ng-app'
    ng-app=(webApp?'myapp':false)
    ng-controller='myApp4ControllerBook'
    ng-init="init('"+logintype+"','"+uid+"','"+username+"','"+bookId+"')"
    ng-cloak
  )

    //- //////////////////////////////////////////////////////////
    //- //  book view
    //- //////////////////////////////////////////////////////////

    #books.well(ng-show='curBook && (uid!==curBook.ownerId || curBook.tradeFinished)' ng-cloak)
      h3 Book:

      include ./include/app4_book-view.pug


    //- //////////////////////////////////////////////////////////
    //- //  book edit
    //- //////////////////////////////////////////////////////////

    .well(ng-show='curBook && !curBook.tradeFinished && uid===curBook.ownerId')
      h3 Book:

      include ./include/app4_book-edit.pug


    //- //////////////////////////////////////////////////////////
    //- //  book trade
    //- //////////////////////////////////////////////////////////

    .well(ng-show='curBook')
      h3 Trade:

      include ./include/app4_book-trade.pug


    //- //////////////////////////////////////////////////////////
    //- //  back to books list
    //- //////////////////////////////////////////////////////////

    .well
      h3 Return back to books list
      button#back.btn.btn-primary(ng-click='goBooksPage()') Back

    ajax-loading-spinner(ajax-loading-var='{{ajaxLoadingSpinner}}')
