//-
  /* file: app5_pinter.pug */
  /*!
   * Copyright 2017 ikarus512
   * https://github.com/ikarus512/fcc1.git
   *
   * DESCRIPTION: App5 Pinter View
   * AUTHOR: ikarus512
   * CREATED: 2017/03/13
   *
   * MODIFICATION HISTORY
   *  2017/04/04, ikarus512. Added copyright header.
   *
   */

extend ./include/layout.pug

block vars
  - var title = 'Pinter';
  - var background = 'background-color: #444; background-image: url('+urlPref+'img/pixabay_com_world.jpg);';

block content
  .well
    h3 Pinterest Clone
    p Here are...

    if mobileApp
      include ./include/nav-mobile.pug
