h1 Login
p Automatic login as 'me'.
br

div(ng-controller='ControllerAutologin')

  p Logged in as:
  p logintype: {{logintype}}
  p loginname: {{username}}

  p: a(href="#!/") Home

  p
    button.btn.btn-primary(ng-click='login()') Login as 'me'
