h1 Home Page
p Home page.
br

p: a(href='#!/') Home
p: a(href='#!/app1/polls') Voting
p: a(href='#!/app2/cafes') Nightlife
p: a(href='#!/app3')       Stock
p: a(href='#!/app4/books') Books
p: a(href='#!/app5')       Pinter
p: a(href='#!/autologin')  Autologin
