// file: app4.less
//
// Copyright 2017 ikarus512
// https://github.com/ikarus512/fcc1.git
//
// DESCRIPTION: App4 Page Styles
// AUTHOR: ikarus512
// CREATED: 2017/04/20
//
// MODIFICATION HISTORY
//  2017/04/20, ikarus512. Initial version.
//

.book-image-thumb {
  text-align: center;
  width: 100px;
  height: 100px;
}

.book-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.book-image {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
}

.myinputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.color-error {
  color: @ngErrorColor;
}
